

/**
 * Helper classes
 */

.overflow-hidden{
	overflow: hidden;
}
.overflow-clip {
	overflow: initial;
    overflow: clip;
}

.flex-row{
	flex-direction: row;
}

.flex-column{
	flex-direction: column;
}

.position-absolute{
	position: absolute;
}

.position-relative{
	position: relative;
}
