/* Image
--------------------------------------------- */

.is-style-bittnerkrull-image-screenshot {
	img {
		outline: 1px solid var(--wp--preset--color--base-4);
	}
}

/* remove styles on lightbox */
.lightbox-image-container {
	.is-style-bittnerkrull-image-screenshot {
		img {
			outline: none;
			box-shadow: none;
			border: none;
		}
	}
}
