/* Featured Image
--------------------------------------------- */

.wp-block-query .wp-block-post-featured-image a {
	transition: transform 200ms ease-in-out;
	padding-bottom: var(--wp--preset--spacing--20);
	&:hover {
		transform: scale(1.02);
	}
}
