/**
 * Gallery
 */

.is-style-bittnerkrull-frontpage-logos {
	figure {
		max-width: 120px;
		filter: grayscale(100%) opacity(0.6);
		transition: all 200ms ease-in-out;
	}

	figure:hover {
		filter: none;
		transform: scale(1.2);
		z-index: 999;
		box-shadow: var(--wp--preset--shadow--large);
	}
}

.is-style-gallery-scale-effect {
	figure {
		transition: all 200ms ease-in-out;
		max-width: 120px;
	}
	figure:hover {
		transform: scale(1.2);
	}
}
