/**
 * Block Style: Brand
 * --------------------------------------
 */
.wp-block-button.is-style-brand {
	> .wp-block-button__link {
		color: var(--wp--preset--color--brand);
		background-color: var(--wp--preset--color--brand-7);

		&:hover {
			background-color: color-mix(
				in srgb,
				var(--wp--preset--color--brand-7) 92%,
				transparent
			);
		}
	}
}
