/* Block Style: List Checkmark
--------------------------------------------- */

.is-style-list-checkmark {
	list-style-type: "\2713";
	padding-inline-start: 3ch;

	& li {
		padding-inline-start: 1ch;
	}
}
