/* Group
* @since ProLooks 0.3
--------------------------------------------- */

.is-style-group-spotlight {
	background-image: radial-gradient(
		at 320px 100px,
		rgba(24, 93, 106, 0) 0,
		#1f3a47 70%
	);
}


.is-style-group-hover-up {
	overflow: hidden;

	& img{
		margin-top: var(--wp--preset--spacing--30);
		position: relative;
		top: var(--wp--preset--spacing--30) ;
		overflow: hidden;
		transition: all 200ms ease-in-out;
	}

	&:hover img{
		top: var(--wp--preset--spacing--10) ;

	}
}
