/* Partner Logos
--------------------------------------------- */

.bittnerkrull-partner-logos {
	figure {
		transition: all 200ms ease-in-out;
		max-width: 120px;
	}
	figure:hover {
		transform: scale(1.2);
	}
}
